html {
    background: #f8f8f8;
    color: #202124;
}
html > body {
    background: transparent;
    font-family: 'Montserrat', sans-serif;
}

.container a {
    color: #488AC7;
}

.container b {
    font-weight: 700;
}

.welcome, .box {
    margin-top: 200px;
    position: relative;
}

.smol {
    margin-top: 50px;
}

.welcome h1, .box h1 {
    font-weight: bold;
    letter-spacing: -1px;
}

.welcome .lead, .box h4 {
    font-weight: 600;
}

.welcome .btn {
    padding: 12px 20px;
}

.welcome h1 {
    font-size: 50px;
}

.box h1 {
    font-size: 30px;
}

.box h4 {
    margin-bottom: 20px;
}

.asset1 {
    z-index: 1;
    float:right;
    margin-left:10px;
}

.asset2 {
    z-index: 2;
    position: absolute;
    left: -130px;
    bottom: -110px;
    transform: rotate(0deg);
}

.asset3 {
    z-index: 3;
    position: absolute;
    right: -130px;
    top: 40px;
    transform: rotate(0deg);
}