<!doctype html>
<html lang="en">
  <head>
    <title>Maplestory: IO - @ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name='keywords' content="maplestory, maplestory io, maplestory development, maplestory api, gms, maplestory dev, maplestory: io" />
    <meta name='description' content="The unofficial worldwide Maplestory developer platform, created by maplers, for maplers." />
    <meta property="og:url" content="https://maplestory.io/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Maplestory: IO" />
    <meta property="og:description" content="The unofficial worldwide Maplestory developer platform, created by maplers, for maplers." />
    <meta property="og:image" content="https://maplestory.io/images/mwikilogo.png" />
    <meta name="twitter:site" content="@("@maplestoryio")">
    <meta name="twitter:title" content="Maplestory: IO">
    <meta name="twitter:description" content="The complete knowledge base and database for Maplestory.">
    <link rel="stylesheet" href="/css/site.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,800" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-xyMU7RufUdPGVOZRrc2z2nRWVWBONzqa0NFctWglHmt5q5ukL22+lvHAqhqsIm3h" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="welcome text-center">
                    <img src="/images/mwikilogo.png" class="mb-4" style="width:400px;max-width:100%;"/>
                    <h1>Meet the new Maplestory: IO</h1>
                    <p class="lead mb-4">The <u>unofficial</u> worldwide Maplestory developer platform,<br/>
                        created by maplers, <b>for maplers</b>.</p>
                    <a href="https://maplestory.io/swagger/index.html" class="btn btn-primary mr-2 text-white"><i class="fa fa-book fa-fw"></i> View Documentation</a>
                    <a href="https://discord.gg/sQQChmv" class="btn btn-secondary text-white" style="background:#7289DA"><i class="fab fa-discord fa-fw"></i> Join the Discussion</a>
                </div>
            </div>
            <div class="col-md-6">
                @RenderBody()
                <div class="box">
                    <h4 class="mb-0">Disclaimer</h4>
                    <p>All aforementioned media, icons, descriptions, and character information provided by this service thereof are the sole property of <a href="https://www.nexon.net">NEXON</a> and therefor applies to their <a href="https://www.nexon.com/main/en/legal/tou" target="_blank">Terms of Service</a>.</p>
                    <p>This service is provided out of love towards the Maplestory community and with a focus on building positive gaming experiences.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>