@{
    ViewData["Title"] = "Welcome";
}

<div class="box">
    <h1>The whole Maple World at your fingertips.</h1><img src="https://maplestory.io/api/gms/latest/mob/100006/icon?resize=2" class="asset1"/>
    <p class="lead mb-4">Our APIs provide developers the tools to craft innovative and inspiring services aimed to help grow and support the Maplestory community. The best part? We are <b>always up-to-date</b>.</p>

    <h4><span class="text-success"><i class="fas fa-check-circle fa-fw"></i></span> Preview new Cash Shop items and design characters</h4>
    <h4><span class="text-success"><i class="fas fa-check-circle fa-fw"></i></span> Analyze monster, boss, and item data</h4>
    <h4><span class="text-success"><i class="fas fa-check-circle fa-fw"></i></span> Render maps (including their NPCs)</h4>
    <h4><span class="text-success"><i class="fas fa-check-circle fa-fw"></i></span> View ranking information</h4>
    <h4><span class="text-success"><i class="fas fa-check-circle fa-fw"></i></span> Listen to Maplestory music</h4>
    <h4><a href="https://maplestory.io/swagger/index.html"><i class="fas fa-ellipsis-h fa-fw"></i> And much more..</a></h4>
    <img src="https://maplestory.io/api/gms/latest/item/1442273/icon?resize=3" class="asset2"/>
</div>
<div class="box">
    <h1><i class="fas fa-globe-americas fa-fw"></i> We support maplers worldwide.</h1>
    <p class="lead mb-4">Whether you're mapling from the United States, South Korea, Europe, or anywhere else, <b>you matter to our team</b>.</p>
    <p class="lead">We currently support most regions where Maplestory is accessible (GMS, KMS, JMS, CMS, and SEA). Depending on timezones, some regions may experience slight delays in updating.</p>
    <img src="https://maplestory.io/api/gms/latest/npc/9000020/icon?resize=2" class="asset3 d-none d-md-block"/>
    <h4 class="mt-4">100,000+ unique visitors a month</h4>
    <h4>400,000,000+ API requests a month</h4>
</div>
<div class="box">
    <h1><i class="fas fa-question-circle fa-fw"></i> Frequently Asked Questions</h1>
    <p class="lead mb-4">
        <b>Q. How do you access (and provide) all of this data?</b><br/>
        We've developed an automated way of processing, optimizing, and delivering Maplestory assets without extracting each individually.<br/><br/>
        This allows us to serve real-time rendering APIs for every region, with no hassle on the developer's end.
    </p>
    <p class="lead mb-4">
        <b>Q. What <u>can't</u> I do with these APIs?</b><br/>
        We ask that you are mindful of Nexon America's <a href="https://www.nexon.com/main/en/legal/tou" target="_blank">Terms of Service</a>, by only using our APIs for <u>non-commercial</u> reasons.<br/><br/>
        You are not allowed to profit in any way from the assets provided by our APIs, and must provide credit to Nexon where and when appropriate (see our footer for an example).
    </p>
    <p class="lead mb-4">
        <b>Q. Where can I report something broken?</b><br/>
        Let us know on <a href="https://discord.gg/sQQChmv" target="_blank"><i class="fab fa-discord"></i> Discord</a> or send an email to <a href="mailto:hello@crr.io">hello@crr.io</a>.
    </p>
</div>