@{
    ViewData["Title"] = "Home Page";
}

<div class='header'>
  <div class='content'>
    <h1>The best resource for MapleStory related assets.</h1>
    <p>Got a cool idea for a MapleStory related project? We're here to help! We take the hassle out of trying to get raw assets and ship them directly to you for no charge.</p>
    <div>
      <a href="/swagger/" class='fancy'>
        <div>Get started now</div>
      </a>
    </div>
  </div>
  <div class='icons'>
    <a href='https://maplestory.io/api/gms/latest/item/1442273'><img src='https://maplestory.io/api/gms/latest/item/1442273/icon' /></a>
    <a href='https://maplestory.io/api/gms/latest/character/2000/1073145,21192:default,1053045,38505/stand1'><img src='https://maplestory.io/api/gms/latest/character/2000/1073145,21192:default,1053045,38505/stand1' /></a>
    <a href='https://maplestory.io/api/gms/latest/mob/100006'><img src='https://maplestory.io/api/gms/latest/mob/100006/icon' /></a>
    <a href='https://maplestory.io/api/gms/latest/npc/1033233'><img src='https://maplestory.io/api/gms/latest/npc/1033233/icon' /></a>
    <a href='https://maplestory.io/api/gms/latest/item/1113250'><img src='https://maplestory.io/api/gms/latest/item/1113250/icon' /></a>
    <a href='https://maplestory.io/api/gms/latest/map/100010000'><img src='https://maplestory.io/api/gms/latest/map/100010000/icon' /></a>
    <a href='https://maplestory.io/api/server/khaini/icon'><img src='https://maplestory.io/api/server/khaini/icon' /></a>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<div class='about'>
  <div class='content'>
    <b class='rainbowText'>Super simple</b>
    <h3>We make all the complicated parts fade into the background allowing you to focus on building awesome things</h3>
    <p>Our APIs are incredibly simple and use a standard pattern for retrieving MapleStory related assets. When there's more complicated resources like rendering a full map, or trying to see what your character would look like with new items, we do all of that behind the scenes. This saves you time and effort when you're trying to quickly look at something.</p>
    <p>Our APIs read directly from the game files themselves, allowing us to always quickly and efficiently update our APIs if something changes or isn't quite right. This also allows us to quickly update to new versions when updates come out. All of this allows you to use our APIs without having to worry about needing to extract these resources on your own.</p>
    <p>Our APIs support multiple regions with ease. We support multiple regions and will be adding multiple versions in the near future, this will allow us to serve any resource from any version of MapleStory. No more hassle of trying to download Korean MapleStory just to try to get a glimpse at those new Cadena skills!</p>
    <a href='/swagger/' class='fancy noRainbow viewAll'>
      <div>View all of our APIs</div>
    </a>
  </div>
  <div class='mapRendering'>&nbsp;</div>
</div>
<div class='info'>
  <b class='rainbowText'>Built for developers</b>
  <p>Our APIs are built explicitly with developers in mind, we understand that building out services and handling getting the required assets is a difficult task. Our purpose is simply to take one step out of the process of creating a service that helps the MapleStory community.</p>
</div>
<div class='start'>

</div>
<div class='footer'>

</div>