{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "RethinkDb": {
    "Host": "localhost",
    "Port": 28015,
    "Timeout": 100,
    "Username": "user",
    "Password": "pass"
  },
  "WZ": {
    "WZPath": "C:\\Nexon\\Library\\maplestory\\appdata"
  }
}
