{
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "RethinkDb": {
    "Host": "localhost",
    "Port": 28015,
    "Timeout": 100,
    "Username": "user",
    "Password": "password"
  },
  "WZ": {
    "versions": [
      {
        "path": "C:\\Nexon\\Library\\maplestory\\appdata\\Base.wz",
        "version": "latest",
        "region": 0
      }
    ]
  }
}
